@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', sans-serif;
}

@layer base {
  html,
  body {
    @apply min-h-screen bg-neutral-50 text-neutral-900 duration-150 dark:bg-neutral-900 dark:text-neutral-50;
  }
}

@layer components {
  .toolbar {
    @apply sticky top-0 z-10 flex w-screen gap-2 bg-neutral-50 duration-150 scrollbar-hide dark:bg-neutral-900 sm:w-auto sm:flex-wrap;
  }
  .toolbar ul {
    @apply flex;
  }
  .toolbar button {
    @apply p-2;
  }
  .toolbar svg {
    @apply fill-neutral-700 dark:fill-neutral-200;
  }
}
